.wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
}
header{
    text-align: center;
}
.post{
    margin: 1.5rem 0;
    width: 500px;
    border: 1px solid black;
    border-radius: 3px;
}
.post-header {
    display: flex;
    display: ruby-text;
    align-items: center;
}
img {
    width: 100%;
}
h2 p{
    margin: 0;
}
.post-footer{
    padding-left: 10px;
}